In [1]:
# Ans : 1
name='Kiran'
my_list=[1,2,3,4]
salary=2250.50
my_tuple=(1,2,3,4,5)

In [2]:
# Ans : 2
var1=''
var2='[DS,ML,Python]'
var3=['DS','ML','Python']
var4=1.
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [3]:
# Ans : 3
# '/': this is a arithmetic division operator this is use for divide numeric value output is float vlaue
# Example:
a=10
b=5
c=a/b
print(c)


# '%': this is a arithmetic modulus operator this is use for get a remainder
# Example:
d=a%b
print(d)

# '//': this is a arithmetic floor divisor operator this is use for get a integer output
# Example:
e=a//b
print(e)

# '**': this is a arithmetic exponent  operator this is use for get a exponent of any value
# Example:
p=2
print(p**3)

2.0
0
2
8

In [4]:
# Ans : 4
my_list=['Kiran',True,23,"B.tech","Data science",7,"Haldwani","Mango",30.23,False]
for i in range(10):
    print(my_list[i])

Kiran
True
23
B.tech
Data science
7
Haldwani
Mango
30.23
False

In [1]:
# Ans : 5
A=int(input("enter a number"))
count=0
B=2
while B<A:
    if(A%B==0):
        count=count+1
    B=B+1
    
if(count>0):
    print("A is purely devisible by B at ",count," times")
    
else:
    print("A is not purely divisible by B")

enter a number 5

A is not purely divisible by B

In [2]:
 # Ans : 6
my_list=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]
for i in my_list:
    if my_list[i]%3==0:
        print(my_list[i]," is divisible by 3")
    else:
        print(my_list[i]," is not divisible by 3")

0  is divisible by 3
1  is not divisible by 3
2  is not divisible by 3
3  is divisible by 3
4  is not divisible by 3
5  is not divisible by 3
6  is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
9  is divisible by 3
10  is not divisible by 3
11  is not divisible by 3
12  is divisible by 3
13  is not divisible by 3
14  is not divisible by 3
15  is divisible by 3
16  is not divisible by 3
17  is not divisible by 3
18  is divisible by 3
19  is not divisible by 3
20  is not divisible by 3
21  is divisible by 3
22  is not divisible by 3
23  is not divisible by 3
24  is divisible by 3

In [ ]:
# Ans : 7
# Mutable object: An object is called a mutable object if we can reassign a value in any index
# Example: list is a mutable object
my_list=[1,2,4]
my_list[0]='Kiran'
print(my_list)

# Immutable object: An object is called a immutable object if we can't reassign a vlue in any index
# Examle: String is a immutable object
name='Heena'
name[0]='T'
print(name)